* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.color-red {
  color: #ff0000;
}
